services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=platzi_play_db'
      - 'POSTGRES_PASSWORD=juanjo.platzi'
      - 'POSTGRES_USER=juanjo'
    ports:
      - '5435:5432'
    volumes:
      - pgdata:/data/postgres
volumes:
  pgdata:
